# XML, HTML, and Web Scraping

JSON and XML are two different ways to represent hierarchical data. Which one is better? There are lots of articles online which discuss similarities and differences between JSON and XML and their advantages and disadvantages. Both formats are still in current usage, so it is good to be familiar with both. However, JSON is more common, so we'll focus on working with JSON representations of hierarchical data.

The reading covered an example of using Beautiful Soup to parse XML. Rather than doing another example XML now, we'll skip straight to scraping HTML from a webpage. Both HTML and XML can be parsed in a similar way with Beautiful Soup.

In [28]:
import pandas as pd

## Scraping an HTML table with Beautiful Soup

Open the URL https://en.wikipedia.org/wiki/List_of_United_States_cities_by_population and scroll down until you see a table of the cities in the U.S. with population over 100,000 (as of Jul 1, 2022). We'll use Beautiful Soup to scrape information from this table.

Read in the HTML from the ULR using the `requests` library.

In [29]:
# YOUR CODE HERE
import requests
response = requests.get("https://en.wikipedia.org/wiki/List_of_United_States_cities_by_population")

Use Beautiful Soup to parse this string into a tree called `soup`

In [30]:
# YOUR CODE HERE
from bs4 import BeautifulSoup
soup = BeautifulSoup(response.content, "html.parser")

To find an HTML tag corresponding to a specific element on a webpage, right-click on it and choose "Inspect element". Go to the cities table Wikipedia page and do this now.

You should find that the cities table on the Wikipedia page corresponds to the element

```
<table class="wikitable sortable jquery-tablesorter" style="text-align:center">
```

There are many `<table>` tags on the page.

In [31]:
tables = soup.find_all("table")

#by looking at html i think its table 3 
table = tables[2]

We can use attributes like `class=` and `style=` to narrow down the list.

In [32]:
len(soup.find_all("table",
                  attrs={
                      "class": "wikitable sortable",
                      "style": "text-align:center"}
                  ))

                  #code doesn't work

0

At this point, you can manually inspect the tables on the webpage to find that the one we want is the first one (see `[0]` below). We'll store this as `table`.

In [33]:
table = soup.find_all("table",
                  attrs={
                      "class": "wikitable sortable",
                      "style": "text-align:center"}
                  )[0]

                  #code doesn't work

IndexError: list index out of range

**Now you will write code to scrape the information in `table` to create a Pandas data frame with one row for each city and columns for: city, state, population (2022 estimate), and 2020 land area (sq mi).** Refer to the Notes/suggestions below as you write your code. A few Hints are provided further down, but try coding first before looking at the hints.

Notes/suggestions:

- Use as a guide the code from the reading that produced the data frame of Statistics faculty
- Inspect the page source as you write your code
- You will need to write a loop to get the information for all cities, but you might want to try just scraping the info for New York first
- You will need to pull the text from the tag. If `.text` returns text with "\n" at the end, try `.get_text(strip = True)` instead of `.text`
- Don't forget to convert to a Pandas Data Frame; it should have 333 rows and 4 columns
- The goal of this exercise is just to create the Data Frame. If you were going to use it --- e.g., what is the population density for all cities in CA? --- then you would need to clean the data first (to clean strings and convert to quantitative). (You can use Beautiful Soup to do some of the cleaning for you, but that goes beyond our scope.)

In [ ]:
# YOUR CODE HERE. ADD AS MANY CELLS AS NEEDED

In [34]:
#turn html into actual dataframe

# initialize an empty list
rows = []

# iterate over all rows in the city table
for city in table.find_all("tr")[2:]:

    # Get all the cells (<td>) in the row.
    cells = city.find_all("td")

    # The information we need is the text between tags.

    # Find the the name of the city in cell[0]
    # which for most city is contained in the <a> tag
    city_tag = cells[0].find("a") or cells[0]
    city = city_tag.text

    # Find the office of the faculty in cell[1]
    # which for most faculty is contained in the <a> tag
    state_tag = cells[1].find("a") or cells[1]
    state = state_tag.text

    # Find the email of the faculty in cell[3]
    # which for most faculty is contained in the <a> tag
    estimate_2023_tag = cells[2].find("td") or cells[2]
    estimate_2023 = estimate_2023_tag.text

    census_2020_tag = cells[3].find("td") or cells[3]
    census_2020 = census_2020_tag.text

    change_tag = cells[4].find("td") or cells[4]
    change = change_tag.text

    land_area_miles_squared_tag = cells[5].find("td") or cells[5]
    land_area_miles_squared = land_area_miles_squared_tag.text

    land_area_kilometer_squared_tag = cells[6].find("td") or cells[6]
    land_area_kilometer_squared = land_area_kilometer_squared_tag.text

    density_miles_squared_tag = cells[7].find("td") or cells[7]
    density_miles_squared = density_miles_squared_tag.text

    density_kilometer_squared_tag = cells[8].find("td") or cells[8]
    density_kilometer_squared = density_kilometer_squared_tag.text

    location_tag = cells[9].find("small") or cells[9]
    location = location_tag.text

    # Append this data.
    rows.append({
        "city": city,
        "state": state,
        "2023 estimate": estimate_2023,
        "2023 census": census_2020,
        "Change": change,
        "land area (miles^2)": land_area_miles_squared,
        "landarea (kilometer^2)": land_area_kilometer_squared,
        "density (miles^2)": density_miles_squared,
        "density (kilometer^2)": density_kilometer_squared,
        "location": location
    })

In [35]:
pd.DataFrame(rows)

            city  ...                                           location
0       New York  ...  40°40′N 73°56′W﻿ / ﻿40.66°N 73.94°W﻿ / 40.66; ...
1    Los Angeles  ...  34°01′N 118°25′W﻿ / ﻿34.02°N 118.41°W﻿ / 34.02...
2        Chicago  ...  41°50′N 87°41′W﻿ / ﻿41.84°N 87.68°W﻿ / 41.84; ...
3        Houston  ...  29°47′N 95°23′W﻿ / ﻿29.79°N 95.39°W﻿ / 29.79; ...
4        Phoenix  ...  33°34′N 112°05′W﻿ / ﻿33.57°N 112.09°W﻿ / 33.57...
..           ...  ...                                                ...
331         Yuma  ...  32°31′N 114°31′W﻿ / ﻿32.52°N 114.52°W﻿ / 32.52...
332  New Bedford  ...  41°40′N 70°56′W﻿ / ﻿41.66°N 70.94°W﻿ / 41.66; ...
333      Suffolk  ...  36°42′N 76°38′W﻿ / ﻿36.70°N 76.63°W﻿ / 36.70; ...
334     Hesperia  ...  34°24′N 117°19′W﻿ / ﻿34.40°N 117.32°W﻿ / 34.40...
335    Davenport  ...  41°34′N 90°36′W﻿ / ﻿41.56°N 90.60°W﻿ / 41.56; ...

[336 rows x 10 columns]

Hints:

- Each city is a row in the table; find all the `<tr>` tags to find all the cities
- Look for the `<td>` tag to see table entries within a row
- The rank column is represented by `<th>` tags, rather than `<td>` tags. So within a row, the first (that is, `[0]`) `<td>` tag corresponds to the city name.

## Aside: Scraping an HTML table with Pandas

The Pandas command `read_html` can be used to scrape information from an HTML table on a webpage.

We can call `read_html` on the URL.

In [36]:
pd.read_html("https://en.wikipedia.org/wiki/List_of_United_States_cities_by_population")

[                    Population tables of U.S. cities
 0  The skyline of New York City, the most populou...
 1                                             Cities
 2  Population AreaDensityEthnic identityForeign-b...
 3                                        Urban areas
 4             Populous cities and metropolitan areas
 5                                 Metropolitan areas
 6  184 combined statistical areas935 core-based s...
 7                                        Megaregions
 8  See related population listsNorth American met...
 9                                                vte,
     0                               1
 0 NaN                   State capital
 1 NaN              State largest city
 2 NaN  State capital and largest city
 3 NaN                 Federal capital,
             City  ST  ... 2020 density                               Location
             City  ST  ...        / km2                               Location
 0    New York[c]  NY  ...        11312    40°40′N 73°56′W﻿ / ﻿40.66°N 73.94°W
 1    Los Angeles  CA  ...         3206  34°01′N 118°25′W﻿ / ﻿34.02°N 118.41°W
 2        Chicago  IL  ...         4657    41°50′N 87°41′W﻿ / ﻿41.84°N 87.68°W
 3        Houston  TX  ...         1390    29°47′N 95°23′W﻿ / ﻿29.79°N 95.39°W
 4        Phoenix  AZ  ...         1199  33°34′N 112°05′W﻿ / ﻿33.57°N 112.09°W
 ..           ...  ..  ...          ...                                    ...
 331         Yuma  AZ  ...          306  32°31′N 114°31′W﻿ / ﻿32.52°N 114.52°W
 332  New Bedford  MA  ...         1951    41°40′N 70°56′W﻿ / ﻿41.66°N 70.94°W
 333   Suffolk[l]  VA  ...           91    36°42′N 76°38′W﻿ / ﻿36.70°N 76.63°W
 334     Hesperia  CA  ...          530  34°24′N 117°19′W﻿ / ﻿34.40°N 117.32°W
 335    Davenport  IA  ...          615    41°34′N 90°36′W﻿ / ﻿41.56°N 90.60°W

 [336 rows x 10 columns],
         Population  Number of municipal governments
 0       1,000,000+                                9
 1  700,000–999,999                               11
 2  500,000–699,999                               18
 3  400,000–499,999                               11
 4  300,000–399,999                               20
 5  200,000–299,999                               55
 6  100,000–199,999                              212
 7            Total                              336,
                                                 State  Number of listed cities
 0                                          California                       74
 1                                               Texas                       42
 2                                             Florida                       23
 3                                             Arizona                       13
 4                                            Colorado                       12
 5                                      North Carolina                       10
 6                           Massachusetts, Washington                        9
 7                         Georgia, Illinois, Virginia                        8
 8                                Michigan, New Jersey                        7
 9   Missouri, Indiana, New York, Ohio, Oregon, Ten...                        6
 10         Alabama, Connecticut, Kansas, Nevada, Utah                        5
 11                                Louisiana, Oklahoma                        4
 12  Iowa, Idaho, Minnesota, New Mexico, Pennsylvan...                        3
 13                       Arkansas, Kentucky, Nebraska                        2
 14  Alaska, District of Columbia, Hawaii, Maryland...                        1
 15   Delaware, Maine, Vermont, West Virginia, Wyoming                        0,
   Municipio  2023 estimate  ...  2020 density.1                             Location
 0  San Juan         333005  ...       3,320/km2  18°24′N 66°04′W﻿ / ﻿18.40°N 66.06°W
 1   Bayamón         180835  ...       2,648/km2  18°23′N 66°10′W﻿ / ﻿18.38°N 66.16°W
 2  Carolina         150843  ...       2,888/km2  18°25′N 65°59′W﻿ / ﻿18.41°N 65.98°W
 3     Ponce         130251  ...       1,869/km2  18°00′N 66°37′W﻿ / ﻿18.00°N 66.62°W
 4    Caguas         124608  ...       4,507/km2  18°14′N 66°02′W﻿ / ﻿18.23°N 66.04°W

 [5 rows x 9 columns],
    Census- designated place  ST  ... 2020 density                               Location
    Census- designated place  ST  ...        / km2                               Location
 0                 Arlington  VA  ...         3544    38°53′N 77°06′W﻿ / ﻿38.88°N 77.10°W
 1                Enterprise  NV  ...         1298  36°01′N 115°14′W﻿ / ﻿36.01°N 115.23°W
 2             Spring Valley  NV  ...         2345  36°06′N 115°16′W﻿ / ﻿36.10°N 115.26°W
 3             Sunrise Manor  NV  ...         2356  36°11′N 115°03′W﻿ / ﻿36.18°N 115.05°W
 4                  Paradise  NV  ...         1740  36°05′N 115°08′W﻿ / ﻿36.09°N 115.14°W
 5                  Metairie  LA  ...         2378    30°00′N 90°11′W﻿ / ﻿30.00°N 90.18°W
 6          East Los Angeles  CA  ...         6115  34°02′N 118°10′W﻿ / ﻿34.03°N 118.17°W
 7                   Brandon  FL  ...         1337    27°56′N 82°18′W﻿ / ﻿27.94°N 82.30°W
 8             The Woodlands  TX  ...         1020    30°10′N 95°31′W﻿ / ﻿30.17°N 95.51°W
 9              Lehigh Acres  FL  ...          476    26°37′N 81°38′W﻿ / ﻿26.61°N 81.64°W
 10              Spring Hill  FL  ...          732    28°29′N 82°32′W﻿ / ﻿28.48°N 82.53°W
 11                Riverview  FL  ...          898    27°49′N 82°18′W﻿ / ﻿27.82°N 82.30°W
 12                 Columbia  MD  ...         1267    39°12′N 76°52′W﻿ / ﻿39.20°N 76.86°W
 13          Highlands Ranch  CO  ...         1644  39°32′N 104°58′W﻿ / ﻿39.54°N 104.97°W

 [14 rows x 10 columns],
               City  ST  2023 estimate  ...  % decline from peak Peak year  Unnamed: 6
 0        Allegheny  PA            NaN  ...                  NaN      1907         [z]
 1         Brooklyn  NY            NaN  ...                  NaN      1898        [aa]
 2           Camden  NJ        71100.0  ...              −42.92%      1950         NaN
 3           Canton  OH        69197.0  ...              −40.81%      1950         NaN
 4   Citrus Heights  CA        86239.0  ...              −19.73%      1990         NaN
 5        Daly City  CA        99833.0  ...               −4.83%      2020         NaN
 6           Duluth  MN        87680.0  ...              −18.29%      1960         NaN
 7             Erie  PA        92957.0  ...              −32.85%      1960         NaN
 8       Fall River  MA        93840.0  ...              −22.11%      1920         NaN
 9      Federal Way  WA        97701.0  ...               −3.30%      2020         NaN
 10           Flint  MI        79661.0  ...              −59.55%      1960         NaN
 11            Gary  IN        67652.0  ...              −62.06%      1960         NaN
 12         Hammond  IN        76193.0  ...              −31.79%      1960         NaN
 13         Livonia  MI        92185.0  ...              −16.28%      1970         NaN
 14   Niagara Falls  NY        47599.0  ...              −53.51%      1960         NaN
 15         Norwalk  CA        98078.0  ...               −7.08%      2010         NaN
 16           Parma  OH        78951.0  ...              −21.22%      1970         NaN
 17      Portsmouth  VA        97454.0  ...              −15.09%      1960         NaN
 18         Reading  PA        94903.0  ...              −14.63%      1930         NaN
 19         Roanoke  VA        99578.0  ...               −0.64%      1980         NaN
 20        Scranton  PA        75805.0  ...              −47.11%      1930         NaN
 21      Somerville  MA        80407.0  ...              −22.62%      1930         NaN
 22      St. Joseph  MO        70634.0  ...              −31.41%      1900        [ab]
 23         Trenton  NJ        89620.0  ...              −29.99%      1950         NaN
 24           Utica  NY        63607.0  ...              −37.48%      1930         NaN
 25      Wilmington  DE        71675.0  ...              −36.29%      1940         NaN
 26      Youngstown  OH        59108.0  ...              −65.23%      1930         NaN

 [27 rows x 7 columns],
   vteThe 100 most populous cities of the United States  ...                                         Unnamed: 4
 0  New York, New York Los Angeles, California Chi...    ...                                                NaN
 1                                                NaN    ...  Chandler, Arizona North Las Vegas, Nevada Chul...
 2  Cities ranked by United States Census Bureau p...    ...                                                NaN

 [3 rows x 5 columns],
     0  ...                                                  4
 0 NaN  ...  Chandler, Arizona North Las Vegas, Nevada Chul...

 [1 rows x 5 columns]]

However, this scrapes all the tables on the webpage, not just the one we want. As with Beautiful Soup, we can narrow the search by specifying the table attributes.

In [37]:
pd.read_html("https://en.wikipedia.org/wiki/List_of_United_States_cities_by_population", attrs = {'class': 'wikitable sortable', "style": "text-align:center"})

#the filtering doesn't work but can use the 3 table in wiki

ValueError: No tables found

This still returns 3 tables. As we remarked above, the table that we want is the first one (see `[0]` below).

In [ ]:
df_cities2 = pd.read_html("https://en.wikipedia.org/wiki/List_of_United_States_cities_by_population")[2]
df_cities2

#the filtering doesn't work but can use the 3 table in wiki

Wait, that seemed much easier than using Beautiful Soup, and it returned a data frame, and we even got for free some formatting like removing the commas from the population! Why didn't we just use `read_html` in the first place? It's true the `read_html` works well when scraping information from an HTML *table*. Unfortunately, you often want to scrape information from a webpage that isn't conveniently stored in an HTML table, in which case `read_html` won't work. (It only searches for `<table>`, `<th>`, `<tr>`, and `<td>` tags, but there are many other HTML tags.) Though Beautiful Soup is not as simple as `read_html`, it is more flexible and thus more widely applicable.

## Scraping information that is NOT in a `<table>` with Beautiful Soup

The Cal Poly course catalog http://catalog.calpoly.edu/collegesandprograms/collegeofsciencemathematics/statistics/#courseinventory contains a list of courses offered by the Statistics department. **You will scrape this website to obtain a Pandas data frame with one row for each DATA or STAT course and two columns: course name and number (e.g, DATA 301. Introduction to Data Science) and term typically offered (e.g., Term Typically Offered: F, W, SP).**

Note: Pandas `read_html` is not help here since the courses are not stored in a `<table>.`

In [ ]:
pd.read_html("http://catalog.calpoly.edu/collegesandprograms/collegeofsciencemathematics/statistics/#courseinventory")


Notes/suggestions:


- Inspect the page source as you write your code
- The courses are not stored in a `<table>`. How are they stored?
- You will need to write a loop to get the information for all courses, but you might want to try just scraping the info for DATA 100 first
- What kind of tag is the course name stored in? What is the `class` of the tag?
- What kind of tag is the quarter(s) the course is offered stored in? What is the `class` of the tag? Is this the only tag of this type with the class? How will you get the one you want?
- You don't have to remove the number of units (e.g., 4 units) from the course name and number, but you can try it if you want
- You will need to pull the text from the tag. If `.text` returns text with "\n" at the end, try `get_text(strip = True)` instead of `text`
- Don't forget to convert to a Pandas Data Frame; it should have 74 rows and 2 columns
- The goal of this exercise is just to create the Data Frame. If you were going to use it then you might need to clean the data first. (You can use Beautiful Soup to do some of the cleaning for you, but that goes beyond our scope.)

In [38]:
# YOUR CODE HERE
import requests
response = requests.get("http://catalog.calpoly.edu/collegesandprograms/collegeofsciencemathematics/statistics/#courseinventory")

In [39]:
# YOUR CODE HERE
from bs4 import BeautifulSoup
soup = BeautifulSoup(response.content, "html.parser")

In [41]:
page = soup.find_all("div",
                  attrs={
                      "id": "courseinventorycontainer"}
                  )

len(page)

1

In [45]:
page = soup.find_all("div", {"class": "courseblock"})

In [76]:
#turn html into actual dataframe

# initialize an empty list
rows = []

# iterate over all vals in the courses
#each course is seperated by div
for courseblock in page:

    # course_title
    course_tag = courseblock.find("p", {"class": "courseblocktitle"})
    course = course_tag.get_text().strip()

    #term offered
    term_tag = courseblock.find("div", {"class": "noindent courseextendedwrap"})
    term = term_tag.get_text().strip()
    # Append this data.
    rows.append({
        "course": course,
        "term offered": term
    })

In [77]:
pd.DataFrame(rows)

                                               course                                       term offered
0                   DATA 100. Data Science for All I.  Term Typically Offered: F, W, SP2020-21 or lat...
1             DATA 301. Introduction to Data Science.  Term Typically Offered: F, W, SPPrerequisite: ...
2          DATA 401. Data Science Process and Ethics.  Term Typically Offered: FPrerequisites: DATA 3...
3   DATA 402. Mathematical Foundations of Data Sci...  Term Typically Offered: FPrerequisites: CSC 46...
4         DATA 403. Data Science Projects Laboratory.  Term Typically Offered: FConcurrent: DATA 401 ...
..                                                ...                                                ...
69             STAT 551. Statistical Learning with R.  Term Typically Offered: FPrerequisite: STAT 30...
70           STAT 566. Graduate Consulting Practicum.  Term Typically Offered: SPPrerequisite: STAT 4...
71                STAT 570. Selected Advanced Topics.  Term Typically Offered: TBDPrerequisite: Gradu...
72          STAT 590. Graduate Seminar in Statistics.  Term Typically Offered: F, W, SPPrerequisite: ...
73                                  STAT 599. Thesis.  Term Typically Offered: TBDPrerequisite: Gradu...

[74 rows x 2 columns]

Hints:

- Each course is represented by a `<div>` with `class=courseblock`, so you can find all the courses with `soup.find_all("div", {"class": "courseblock"})`
- The course name is in a `<p>` tag with `class=courseblocktitle`, inside a `<strong>` tag. (Though I don't think we need to find the strong tag here.)
- The term typically offered is in `<p>` tag with `class=noindent`. However, there are several tags with this class; term typically offered is the first one.
- If you want to use Beautiful Soup to remove the course units (e.g., 4 units), find the `<span>` tag within the course name tag and `.extract()` this span tag